In [1]:
# Consider following code to answer further questions.

        Course_name  Duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [13]:
df1 = df.loc[1:1,['Course_name','Duration']]
df1

        Course_name  Duration
1  Machine Learning         3

In [15]:
second_row = df.iloc[1]
second_row

Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, both loc and iloc are used to access rows and columns in DataFrame , but they differ in how select data:
1. loc : Labal-based indexing
    -Used to select data by label or a conditional statement.
    -includes the end of a slice.
    -syntax : df.loc[row_labels, column_labels]
    -Include end of the range.
    -labels and conditions for data representation
2. iloc : Integer-based indexing
    -uded to select data by interger position.
    -Excludes the end of a slice(like python slicing).
    -syntax : df.iloc[row_indices, colunm_indices]
    -Excludes end of range
    -only Integer positions are taken to data representation.

In [21]:
# example for loc:
df.loc[1]

Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

In [23]:
df.loc[1,'Course_name']

'Machine Learning'

In [25]:
df.loc[df['Duration']>3]

     Course_name  Duration
2       Big Data         6
3  Data Engineer         4

In [27]:
#example for iloc:
df.iloc[1]

Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

In [29]:
df.iloc[1,0]

'Machine Learning'

In [31]:
df.iloc[1:3,0:2]

        Course_name  Duration
1  Machine Learning         3
2          Big Data         6

Q3 Reindex the given dataFrame using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_ df.loc[2] and new _df.iloc[2].
Dis you observe any difference in both the outputs? if so then explain it.

In [33]:
df

        Course_name  Duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [35]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        Course_name  Duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [41]:
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]
print('Loc:',output_loc)
print('Iloc:',output_iloc)

Loc: Course_name    Big Data
Duration              6
Name: 2, dtype: object
Iloc: Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

new_df.loc[2]:

Accesses the row with label 2 in the reindexed DataFrame.
In this case, since the reindexing used [3, 0, 1, 2], the row with label 2 corresponds to the original DataFrame's last row ('Big Data', 6).

new_df.iloc[2]:

Accesses the third row (index 2) by position in the reindexed DataFrame.
After reindexing, the third row in the new order corresponds to label 1, which represents the original DataFrame's second row ('Machine Learning', 3).

Observed Difference:
    -The outputs differ because loc refers to labels while iloc refers to positions.
    -Reindexing changes the order of labels, which impacts loc, but it doesn’t affect the positional indexing used by iloc.

In [63]:
import pandas as pd 
import numpy as np 
columns = ['column_1','column_2', 'column_3','column_4','column_5','column_6']
indices = [1,2,3,4,5,6]

# creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6),columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [65]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.037986  0.809284  0.348877  0.327956  0.036657  0.335889
2  0.941947  0.596615  0.102573  0.945213  0.845014  0.879390
3  0.496969  0.011016  0.138707  0.934155  0.172606  0.987243
4  0.370241  0.638484  0.956792  0.317823  0.393580  0.418123
5  0.857621  0.582016  0.704521  0.680582  0.122858  0.873211
6  0.887776  0.162824  0.834338  0.142061  0.712060  0.894782

In [67]:
Mean = df1.mean()
Mean

column_1    0.598757
column_2    0.466706
column_3    0.514301
column_4    0.557965
column_5    0.380463
column_6    0.731440
dtype: float64

In [69]:
Std = df1.std()
Std

column_1    0.359268
column_2    0.308881
column_3    0.366704
column_4    0.343530
column_5    0.332777
column_6    0.278830
dtype: float64

In [71]:
Std_col2= df1['column_2'].std()
Std_col2

0.30888121181328404

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [77]:
df1.loc[2, 'column_2] = "pwskills is the best platform for online study."

SyntaxError: unterminated string literal (detected at line 1) (3732744942.py, line 1)

try:
    Mean = df1['column_2'].mean()
    print(Mean)
except Exception as e:
    print('error occurred:',e)

What happens when a string is inserted?

The column 'cloumn_2' initially contains numeric data (float values).
Replacing one value in the column with a string changes the data type of the entire column to object (mixed types), as pandas enforces homogeneous column types.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Windows Functions in Pandas 
In pandas, window functions are used to perform calculations over a sliding window of data. These are particularly useful for performing opertions like moving averages, cumulative sums, or applying custom aggregations on specific portions of a dataset.
Window functions operate on a defined subset of rows, known as a "window", and provide a way to analyze trends or patterns in data while maintaining the context of the dataset.

KEY CHARACTERISICS OF WINDOW FUNCTIONS 
1. Sliding Window : Operations are performed over a subset(window) of the dataset that moves incrementally.
2. Aggregation : FuncTions like mean(), sum(), max(), etc., can be applied within the window.
3. Flexible Size : The size of the window can be fized of dynamic.
4. Centered of Forward : The window can be centered around a row or span forward/backward.

Types of Window Functions in Pandas
1. Rolling Window Functions(rolling)
    -Used for calculations over a fixed-size sliding window.
    -Example operations: moving average, rolling sum, standard deviation, etc.
    -Syntax : df.rolling(window_size).function()
    -Example:
        df['rolling_mean'] = df['column_name'].rolling(window=30.mean()
2. Expandign Window Functions(expanding)
    -Perform calculations over an expanding window that grows with eachnew data point.
    -Useful for cumulative operations.
    -syntax : df.expanding().function()
    -Example:
        df['cumulative_mean']= df['column_name'].expanding().mean()
3. Exponentially Weighted Window Functions(ewm)
    - Assign exponentially decreasing weights to older data points.
    - Useful for trend analysis and smoothing.
    - Syntax: df.ewn(span = period).function()
    -Example:
        df['ewm_mean'] = df['column_name'].ewm(span = 30.mean()
4. Groupby with Rolling/Expanding 
    -Combine groupby with rolling or expanding windows for operations on grouped data.
    -Example: Calculate a rolling mean for each group.
        df.grouby('group_column')['value_colunm'].rolling(window=3).mean()

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

You can use the datetime module in Python to extract the current month and year.

In [81]:
import pandas as pd

current_date = pd.Timestamp.now()

current_month = current_date.month
current_year = current_date.year

print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: 11
Current Year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [83]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.Timestamp(date1)
date2 = pd.Timestamp(date2)

time_difference = abs(date2 - date1)

days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds % 3600) // 60

print(f"Difference between the two dates:")
print(f"{days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2024-11-25
Enter the second date (YYYY-MM-DD):  2024-11-27

Difference between the two dates:
2 days, 0 hours, and 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [87]:
import pandas as pd

file_path = input("Enter the path to the CSV file: ")
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

try:
    df = pd.read_csv(file_path)
    
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    sorted_df = df.sort_values(by=column_name)
    
    print("\nSorted DataFrame:")
    print(sorted_df)
except FileNotFoundError:
    print("Error: File not found. Please check the file path and try again.")
except KeyError:
    print(f"Error: Column '{column_name}' not found in the dataset.")
except Exception as e:
    print(f"An error occurred: {e}")

Enter the path to the CSV file:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the name of the column to convert to categorical:  Age
Enter the category order (comma-separated):  low, medium,high

Sorted DataFrame:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  NaN      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  NaN      1
2                               Heikkinen, Miss. Laina  female  NaN      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  NaN      1
4                             Allen, Mr. William Henry    male  NaN      0
..                                                 ...     ...  ...    ...
886                              Montvila, Rev. Juozas    male  NaN      0
887                       Graham, Miss. Margaret Edith  female  NaN      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  NaN      1
889                              Behr, Mr. Karl Howell    male  NaN      0
890                                Dooley, Mr. Patrick    male  NaN      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [89]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to input the file path
file_path = input("Enter the path to the CSV file: ")

try:
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Check if required columns exist
    required_columns = ['Date', 'Product_Category', 'Sales']
    if not all(col in df.columns for col in required_columns):
        raise KeyError(f"The CSV file must contain the following columns: {', '.join(required_columns)}")
    
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Group by Date and Product_Category, and sum the sales
    sales_data = df.groupby(['Date', 'Product_Category'])['Sales'].sum().unstack(fill_value=0)
    
    # Plot the stacked bar chart
    sales_data.plot(kind='bar', stacked=True, figsize=(10, 6), cmap='viridis')
    plt.title("Sales of Product Categories Over Time", fontsize=16)
    plt.xlabel("Date", fontsize=12)
    plt.ylabel("Sales", fontsize=12)
    plt.legend(title="Product Categories")
    plt.tight_layout()
    
    # Display the chart
    plt.show()

except FileNotFoundError:
    print("Error: File not found. Please check the file path and try again.")
except KeyError as e:
    print(f"Error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")

Enter the path to the CSV file:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

Error: 'The CSV file must contain the following columns: Date, Product_Category, Sales'

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [91]:
import pandas as pd
from tabulate import tabulate

# Prompt the user for the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

try:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Check if required columns exist
    required_columns = ['Student ID', 'Test Score']
    if not all(col in df.columns for col in required_columns):
        raise KeyError(f"The CSV file must contain the following columns: {', '.join(required_columns)}")

    # Calculate statistics
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()

    # Prepare the results
    results = [
        ["Mean", round(mean_score, 2)],
        ["Median", median_score],
        ["Mode", ", ".join(map(str, mode_score))],
    ]

    # Display the results in a table format
    print("\nStatistics of Test Scores:")
    print(tabulate(results, headers=["Statistic", "Value"], tablefmt="grid"))

except FileNotFoundError:
    print("Error: File not found. Please check the file path and try again.")
except KeyError as e:
    print(f"Error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")

Enter the file path of the CSV file containing the student data:  Masters_DS/Pandas/student_data.csv

Error: File not found. Please check the file path and try again.