Q1. List any five functions of the pandas library with execution.

1) read_csv()-
    Reads a csv file into a DataFrame.

In [ ]:
# example
df = pd.read_csv("sample.csv")
df

2) head() -
    Return the first 5 rows from the DataFrame. We can custamize the number of row by passing the value in function.

In [ ]:
# example
print(df.head())

3) info() - 
    Provides a summary of the DataFrame, including column names, non-null counts, and data types.

In [ ]:
# example Displaying DataFrame Structure
print(df.info())

4) describe() - 
    Generates summary statistics for numerical colunms.

In [ ]:
# example Displaying statistics
print(df.describe())

5) drop() - 
    Removes a specified colunm or row from the DataFrame.

In [ ]:
example  - Dropping a column 
data_cleaned = data.drop(colunms=['ColumnName'])
print(data_cleaned.head())

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
def reindex(df):
    new_index = range(1, 2 * len(df) + 1, 2)
    df.index = new_index
    return df
    
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

reindexing = reindex(df)
print(reindexing)

Q3. You have a Pandas DataFrame df with a colunm named 'Values'. Write a Python Fuction that iterates over 
the DataFrame and calculates the sum of the first three values in the "Values" column. The fuction should 
print the sum to the console.

In [29]:
import pandas as pd
data = {'Values':[10,20,30,40,50],
       'code':['abc','def','ghi','jkl','mno']}
df = pd.DataFrame(data)

def first_three_values(df):
    if 'Values' in df.columns and len(df['Values'])>=3:
        total = df['Values'].iloc[:3].sum()
        print(f"The sum of first three values is {total}")
    else:
        print("The 'Values' Column does not exist or less values.")

sum_of_three = first_three_values(df)
sum_of_three

The sum of first three values is 60

   Values code
0      10  abc
1      20  def
2      30  ghi
3      40  jkl
4      50  mno

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [35]:
data = pd.DataFrame({'Text':["Hello My Name is Abhi"," I am from Kolhapur","I hold a post graduate Data Science certificate.","Right now I am pursing Masters in computer Application."]})

In [37]:
data

                                                      Text
0                                    Hello My Name is Abhi
1                                       I am from Kolhapur
2         I hold a post graduate Data Science certificate.
3  Right now I am pursing Masters in computer Application.

In [41]:
data['word_count'] = data['Text'].apply(lambda x: len(x.split()))
data

                                                      Text  word_count
0                                    Hello My Name is Abhi           5
1                                       I am from Kolhapur           4
2         I hold a post graduate Data Science certificate.           8
3  Right now I am pursing Masters in computer Application.           9

Q5. How are DataFrame.size() and DataFrame.shape() different?

The methods DataFrame.size() and DataFrame.shape() in Pandas provide information about a
DataFrame's dimensions and total elements, but they are used differently.

DataFrame.size = Returns the total number of elements (entries) in the DataFrame and It is
the product of the number of rows and columns. It is used to check total number of elements.
    size = number of rows * number of columns

DataFrame.shape = Returns a tuple representing the dimensions of the DataFrame means the number of rows
and number of columns. It is used to check how many rows and columns exist.

In [49]:
df = pd.DataFrame({'A':[1,3,5],'B':[2,4,6]})
print(df.size)
print(df.shape)

6
(3, 2)

In [ ]:
Q6 Which function of pandas do we use to read an excel file?

To read an Excel file in pandas we use the pd.read_excel() function.This fuction can read the data 
from an Excel file into a Pandas DataFrame.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [64]:
def username(df):
    if 'Email' in df.columns:
        df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
        print("Username column added successfully.")
    else:
        print("The Email column is does not exist in DataFrame.")
        return df


data = pd.DataFrame({'Email':["abhi@domain.com","sudh@domain.com","rajsharma@domain.com","rutu@domain.com"]})
data

                  Email
0       abhi@domain.com
1       sudh@domain.com
2  rajsharma@domain.com
3       rutu@domain.com

In [66]:
df = username(data)

Username column added successfully.

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows

In [69]:
import pandas as pd

def filter_dataframe(df):
    # Filter rows where 'A' > 5 and 'B' < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example DataFrame
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Call the function
result = filter_dataframe(df)

# Display the result
print(result)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [86]:
def statistic_summary(df):
    
    if 'Values' in df.columns:
        Mean = df['Values'].mean()
        Median = df['Values'].median()
        Std = df['Values'].std()

        print(f"The mean:{Mean}, median:{Median} and Standard deviation:{Std}")
    else:
        print("Column is not exist")


data = {'Values':[10,30, 45,47,68]}
df = pd.DataFrame(data)

stat = statistic_summary(df)
stat

The mean:40.0, median:45.0 and Standard deviation:21.552262062252307

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [93]:
import pandas as pd

def add_moving_average(df):
    if 'Sales' in df.columns and 'Date' in df.columns:
        # Ensure the 'Date' column is in datetime format and sort the DataFrame by date
        df['Date'] = pd.to_datetime(df['Date'])
        df = df.sort_values('Date')
        
        # Calculate the 7-day moving average
        df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
        
        print("Moving average column added successfully.")
    else:
        print("The 'Sales' and/or 'Date' column(s) do not exist in the DataFrame.")
    return df

# Example Usage
data = {
    'Date': ['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05', 
             '2024-11-06', '2024-11-07', '2024-11-08'],
    'Sales': [100, 200, 150, 300, 250, 400, 350, 500]
}
df = pd.DataFrame(data)

# Add the moving average column
df = add_moving_average(df)

# Display the DataFrame
print(df)

Moving average column added successfully.
        Date  Sales  MovingAverage
0 2024-11-01    100     100.000000
1 2024-11-02    200     150.000000
2 2024-11-03    150     150.000000
3 2024-11-04    300     187.500000
4 2024-11-05    250     200.000000
5 2024-11-06    400     233.333333
6 2024-11-07    350     250.000000
7 2024-11-08    500     307.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [96]:
import pandas as pd

def add_weekday_column(df):
    if 'Date' in df.columns:
        # Ensure the 'Date' column is in datetime format
        df['Date'] = pd.to_datetime(df['Date'])
        
        # Create the 'Weekday' column
        df['Weekday'] = df['Date'].dt.day_name()
        
        print("Weekday column added successfully.")
    else:
        print("The 'Date' column does not exist in the DataFrame.")
    return df

# Example Usage
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Add 'Weekday' column
df = add_weekday_column(df)

# Display the DataFrame
print(df)

Weekday column added successfully.
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [101]:
def filter_by_date_range(df):
    if 'Date' in df.columns:
        # Ensure the 'Date' column is in datetime format
        df['Date'] = pd.to_datetime(df['Date'])
        
        # Define the start and end dates
        start_date = '2023-01-01'
        end_date = '2023-01-31'
        
        # Filter rows where the 'Date' is within the range
        filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
        
        print("Rows filtered by date range.")
    else:
        print("The 'Date' column does not exist in the DataFrame.")
        filtered_df = df  # Return the original df if 'Date' column is missing
    
    return filtered_df

# Example Usage
data = {'Date': ['2023-01-01', '2023-01-05', '2023-02-01', '2023-01-20', '2023-03-01'],
        'Value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to filter rows by date range
filtered_df = filter_by_date_range(df)

# Display the filtered DataFrame
print(filtered_df)

Rows filtered by date range.
        Date  Value
0 2023-01-01     10
1 2023-01-05     20
3 2023-01-20     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs tobe imported?

In [ ]:
To use the basic fuctionality of pandas we use the irst and formost library is Pandas itself.